{% extends "base.html" %}
{% block title %}Submit{% endblock %}
{% block content %}
    <br>
    <label for="formSelect">Select reference type:</label>
    <select id="formSelect" onchange="switchForm(this.value)">
        <option value="article">Article</option>
        <option value="book">Book</option>
        <!-- <option value="booklet">Booklet</option> -->
        <!-- <option value="conference">Conference</option> -->
        <!-- <option value="inbook">Inbook</option> -->
        <!-- <option value="incollection">Incollection</option> -->
        <option value="inproceedings">Inproceedings</option>
        <!-- <option value="manual">Manual</option> -->
        <!-- <option value="mastersthesis">Mastersthesis</option> -->
        <!-- <option value="misc">Misc</option> -->
        <!-- <option value="phdthesis">Phdthesis</option> -->
        <!-- <option value="proceedings">Proceedings</option> -->
        <!-- <option value="techreport">Techreport</option> -->
        <!-- <option value="unpublished">Unpublished</option> -->
    </select>

    {% include 'forms_handler.html' %}

    <script>
        function switchForm(selectedForm) {
            var forms = ['article', 'book', 'inproceedings'];
            /* Final version: var forms = ['article', 'book', 'booklet', 'conference', 'inbook', 
            'incollection', 'inproceedings', 'manual', 'mastersthesis', 'misc', 'phdthesis', 
            'proceedings', 'techreport', 'unpublished']; */
            forms.forEach(function(formId) {
                document.getElementById(formId).style.display = 'none';
            });
            document.getElementById(selectedForm).style.display = 'block';
        }

        window.onload = function() {
            var submit_button = document.getElementById("submit_button");
            var form_fields = document.getElementsByClassName("form-field");
            var form = document.forms[0];

            function disableFormFields(disable) {
                for (var i = 0; i < form_fields.length; i++) {
                    form_fields[i].disabled = disable;
                }
            }

            {% if submitted %}
                disableFormFields(true);
            {% else %}
                disableFormFields(false);
            {% endif %}

            submit_button.onclick = function() {
                if (submitted) {
                    document.location.reload(true);
                } else {
                    form.submit();
                }
            };
        };
    </script>
{% endblock %}