<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<title>{% block title %}{% endblock %} - Viiteri</title>
	</head>
	<body>
		<div>
			<h1>BibTex Article Reference Management Tool</h1>

			<button
				onclick="window.location.href='/'"
				style="background-color: #75ace0; border-radius: 20px"
			>
				Home
			</button>
			<button
				onclick="window.location.href='/add'"
				style="background-color: #75ace0; border-radius: 20px"
			>
				Submit
			</button>
			<button
				onclick="window.location.href='/list'"
				style="background-color: #75ace0; border-radius: 20px"
			>
				View
			</button>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>

