<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<title>{% block title %}{% endblock %} - Viiteri</title>
	</head>
	<body>
		<div>
			<h1>Viiteri BibTex Reference Management Tool</h1>
			{% with messages = get_flashed_messages(with_categories=true) %} {%
			if messages %} {% for category, message in messages %}
			<div class="alert {{category}}">{{ message }}</div>
			{% endfor %} {% endif %} {% endwith %}
			<button
				onclick="window.location.href='/add'"
				class="navigation-button"
			>
				Submit
			</button>
			<button
				onclick="window.location.href='/search'"
				class="navigation-button"
			>
				Search
			</button>
			<button
				onclick="window.location.href='/bibtex'"
				class="navigation-button"
			>
				Raw BibTex
			</button>
		</div>
		{% block content %}{% endblock %}
		<script>
			window.addEventListener('DOMContentLoaded', (event) => {
				setTimeout(function() {
					var alerts = document.querySelectorAll('.alert');
					alerts.forEach(function(alert) {
						alert.style.display = 'none';
					});
				}, 3000);
			});
		</script>
	</body>
</html>
