<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<title>{% block title %}{% endblock %} - Viiteri</title>
		<style>
			.alert.success {
				padding: 15px;
				background-color: #1f9141;
				color: white;
			}
			.alert.error {
				padding: 15px;
				background-color: #c92a2a;
				color: white;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Viiteri BibTex Reference Management Tool</h1>
			{% with messages = get_flashed_messages(with_categories=true) %} {%
			if messages %} {% for category, message in messages %}
			<div class="alert {{category}}">{{ message }}</div>
			{% endfor %} {% endif %} {% endwith %}
			<button
				onclick="window.location.href='/'"
				class="navigation-button"
			>
				Home
			</button>
			<button
				onclick="window.location.href='/add'"
				class="navigation-button"
			>
				Submit
			</button>
			<button
				onclick="window.location.href='/list'"
				class="navigation-button"
			>
				View Table
			</button>
			<button
				onclick="window.location.href='/bibtex'"
				class="navigation-button"
			>
				View BibTex
			</button>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>
