{% extends "base.html" %} {% block title %}Raw BibTex{% endblock %} {% block
content %}
<div>
	<br>
	<button id="copy-button" onclick="copyText()">Copy all to clipboard</button>

	<pre id="bibtex-output" style="border: 1px solid lightgrey">
{% for reference in references %}
{{ reference[1].format_bibtex() }}
{% endfor %}
    </pre>
</div>

<script>
	function copyText() {
		var bibtex = document.getElementById("bibtex-output").innerText;

		navigator.clipboard.writeText(bibtex).then(
                function () {
                    alert("Copied all BibTex to clipboard!");
                },
            ).catch(
                function (error) {
                    console.log(error)
                }
            );
	}
</script>

{% endblock %}
