{% extends "base.html" %} {% block title %}Raw BibTex{% endblock %} {% block
content %}
<div>
	<br>
	<button id="copy-button" onclick="copyText()">Copy all to clipboard</button>

	<pre id="bibtex-output" style="border: 1px solid lightgrey">
{% for reference in references %}
{{ reference[1].format_bibtex() }}
{% endfor %}
    </pre>
</div>

<script>
	function copyText() {
		var copy_text_area = document.createElement("textarea");
		var copied_text = document.getElementById("bibtex-output").innerText;
		copy_text_area.value = copied_text;
		document.body.appendChild(copy_text_area);
		copy_text_area.select();
		document.execCommand("copy");
		document.body.removeChild(copy_text_area);
	}
</script>

{% endblock %}
