{% include 'forms/article_submit_form.html' %}
{% include 'forms/book_submit_form.html' %}
<!-- {% include 'forms/booklet_submit_form.html' %} -->
<!-- {% include 'forms/conference_submit_form.html' %} -->
<!-- {% include 'forms/inbook_submit_form.html' %} -->
<!-- {% include 'forms/incollection_submit_form.html' %} -->
{% include 'forms/inproceedings_submit_form.html' %}
<!-- {% include 'forms/manual_submit_form.html' %} -->
<!-- {% include 'forms/mastersthesis_submit_form.html' %} -->
<!-- {% include 'forms/misc_submit_form.html' %} -->
<!-- {% include 'forms/phdthesis_submit_form.html' %} -->
<!-- {% include 'forms/proceedings_submit_form.html' %} -->
<!-- {% include 'forms/techreport_submit_form.html' %} -->
<!-- {% include 'forms/unpublished_submit_form.html' %} -->
