{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
        <p>This is the management tool for BibTex Article references. You can save article, book and inproceedings type references and then view them. There are <a href="https://www.bibtex.com/e/entry-types/">14 entry types</a> in the BibTex format and we recommend getting acquainted with them first if you are yet unfamiliar with BibTex.</p>
        
        <p>Click on <b>Submit</b> to enter a reference, and then click on <b>View</b> to view all the saved references. Authors are separated in the BibTex format with the word <a href="https://www.bibtex.com/f/author-field/">"and"</a>.</p>
        
        <p>
			(The website is a group project as part of the University of Helsinki course <a href="https://studies.helsinki.fi/kurssit/toteutus/hy-opt-cur-2324-e4d8713d-d678-4dba-a41a-576f26e75ac0">Ohjelmistotuotanto</a>, code TKT20006. The group in charge of this site is JEEOVI.)
		</p>
    </div>
{% endblock %}