{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block content %}
	<div>
		<p>
			To see all of the references in the system, press
			<b>Show all articles</b>.
		</p>
		<button id="toggle_button" onclick="toggleArticles()">
			Show all articles
		</button>

		<h2 id="articles_title" style="display: none">All articles</h2>
		<div id="articles" style="display: none">
			{% for reference in references %}
			<p>{{reference}}</p>
			<hr />
			{% endfor %}
		</div>
	</div>

	<script>
		function toggleArticles() {
			var articles_ids = document.getElementById("articles");
			var articles_title = document.getElementById("articles_title");
			var special_button = document.getElementById("toggle_button");

			if (articles_ids.style.display === "none") {
				articles_ids.style.display = "block";
				articles_title.style.display = "block";
				special_button.textContent = "Hide all articles";
			} else {
				articles_ids.style.display = "none";
				articles_title.style.display = "none";
				special_button.textContent = "Show all articles";
			}
		}
	</script>
{% endblock %}
