<div id="book" style="display: none;">
    <form method="POST">
        <input type="hidden" name="ref_type" value="book">
        <p><b>Mandatory fields</b></p>

        <div><input type="text" class="form-field" name="author" {% if doi_data.author %} value="{{doi_data.author}}" {% endif %} placeholder="Author(s)" required></div>
        <div><input type="text" class="form-field" name="title" {% if doi_data.title %} value="{{doi_data.title}}" {% endif %} placeholder="Title" required></div>
        <div><input type="text" class="form-field" name="publisher" {% if doi_data.publisher %} value="{{doi_data.publisher}}" {% endif %} placeholder="Publisher" required></div>
        <div><input type="number" class="form-field" name="year" {% if doi_data.year %} value="{{doi_data.year}}" {% endif %} placeholder="Year" required></div>
        
        <p><b>Optional fields</b></p>

        <div><input type="text" class="form-field" name="editor" {% if doi_data.editor %} value="{{doi_data.editor}}" {% endif %} placeholder="Editor"></div>
        <div><input type="text" class="form-field" name="volume" {% if doi_data.volume %} value="{{doi_data.volume}}" {% endif %} placeholder="Volume"></div>
        <div><input type="text" class="form-field" name="number" {% if doi_data.number %} value="{{doi_data.number}}" {% endif %} placeholder="Number/Issue"></div>
        <div><input type="text" class="form-field" name="pages" {% if doi_data.pages %} value="{{doi_data.pages}}" {% endif %}placeholder="Page(s)"></div>
        <div><input type="text" class="form-field" name="month" {% if doi_data.month %} value="{{doi_data.month}}" {% endif %} placeholder="Month"></div>
        <div><input type="text" class="form-field" name="series" {% if doi_data.series %} value="{{doi_data.series}}" {% endif %}placeholder="Series"></div>
        <div><input type="text" class="form-field" name="address" {% if doi_data.address %} value="{{doi_data.address}}" {% endif %}placeholder="Address"></div>
        <div><input type="text" class="form-field" name="edition" {% if doi_data.edition %} value="{{doi_data.edition}}" {% endif %}placeholder="Edition"></div>
        <div><input type="text" class="form-field" name="doi" {% if doi_data.doi %} value="{{doi_data.doi}}" {% endif %}placeholder="DOI"></div>
        <div><input type="text" class="form-field" name="issn" {% if doi_data.issn %} value="{{doi_data.issn}}" {% endif %}placeholder="ISSN"></div>
        <div><input type="text" class="form-field" name="isbn" {% if doi_data.isbn %} value="{{doi_data.isbn}}" {% endif %}placeholder="ISBN"></div>
        <div><input type="text" class="form-field" name="note" {% if doi_data.note %} value="{{doi_data.note}}" {% endif %}placeholder="Additional note"></div>
        <div><input type="text" class="form-field" name="annote" {% if doi_data.annote %} value="{{doi_data.annote}}" {% endif %}placeholder="Annote"></div>

        <p>When you are finished filling the fields, press <b>Submit reference</b> to enter the reference into the system.</p>
        <div><button type="submit" class="submit-button">Submit reference</button></div>

    </form>
</div>
