<div id="inproceedings" style="display: none;">
    <form method="POST">
        <input type="hidden" name="ref_type" value="inproceedings">
        <p><b>Mandatory fields</b></p>

        <div><input type="text" class="form-field" name="author" placeholder="Author(s)" required></div>
        <div><input type="text" class="form-field" name="title" placeholder="Title" required></div>
        <div><input type="text" class="form-field" name="booktitle" placeholder="Conf. Proc. Book Title" required></div>
        <div><input type="text" class="form-field" name="year" placeholder="Year" required></div>
        
        <p><b>Optional fields</b></p>

        <div><input type="text" class="form-field" name="editor" placeholder="Editor"></div>
        <div><input type="text" class="form-field" name="volume" placeholder="Volume"></div>
        <div><input type="text" class="form-field" name="number" placeholder="Number/Issue"></div>
        <div><input type="text" class="form-field" name="series" placeholder="Series"></div>
        <div><input type="text" class="form-field" name="pages" placeholder="Page(s)"></div>
        <div><input type="text" class="form-field" name="address" placeholder="Address"></div>
        <div><input type="text" class="form-field" name="month" placeholder="Month"></div>
        <div><input type="text" class="form-field" name="organization" placeholder="Organization"></div>
        <div><input type="text" class="form-field" name="publisher" placeholder="Publisher"></div>
        <div><input type="text" class="form-field" name="note" placeholder="Additional note"></div>
        <div><input type="text" class="form-field" name="annote" placeholder="Annote"></div>

        {% include 'forms/submit_buttons.html' %}
    </form>
</div>
