<div id="manual" style="display: none;">
    <form method="POST">
        <p><b>Mandatory fields</b></p>

        <div><input type="text" class="form-field" name="title" placeholder="Title" required></div>
        
        <p><b>Optional fields</b></p>

        <div><input type="text" class="form-field" name="author" placeholder="Author(s)"></div>
        <div><input type="text" class="form-field" name="organization" placeholder="Organization"></div>
        <div><input type="text" class="form-field" name="address" placeholder="Address"></div>
        <div><input type="text" class="form-field" name="edition" placeholder="Edition"></div>
        <div><input type="text" class="form-field" name="year" placeholder="Year"></div>
        <div><input type="text" class="form-field" name="month" placeholder="Month"></div>
        <div><input type="text" class="form-field" name="note" placeholder="Additional note"></div>
        <div><input type="text" class="form-field" name="annote" placeholder="Annote"></div>

        {% include 'forms/submit_buttons.html' %}
    </form>
</div>
