<div id="unpublished" style="display: none;">
    <form method="POST">
        <p><b>Mandatory fields 14</b></p>

        <div><input type="text" class="form-field" name="author" placeholder="Author(s)" required></div>
        <div><input type="text" class="form-field" name="title" placeholder="Title" required></div>
        
        <p><b>Optional fields</b></p>

        <div><input type="text" class="form-field" name="note" placeholder="Additional note"></div>
        <div><input type="text" class="form-field" name="month" placeholder="Month"></div>
        <div><input type="text" class="form-field" name="year" placeholder="Year"></div>
        <div><input type="text" class="form-field" name="annote" placeholder="Annote"></div>

        {% include 'forms/submit_buttons.html' %}
    </form>
</div>
