{% for article in articles %}
    <li class="view-reference">
        {{ article.author }}. "{{ article.title }}," 
        {{ article.journal }},
        {% if article.volume %} vol. {{ article.volume }},{% endif %}
        {% if article.number %}no. {{ article.number }},{% endif %}
        {% if article.pages %}pp. {{ article.pages }},{% endif %}
        {% if article.month %} {{ article.month }}{% endif %}
        {{ article.year }}.
        {% if article.doi %}{{ article.doi }}.{% endif %}
        {% if article.issn %}{{ article.issn }}.{% endif %}
        {% if article.zblnumber %}{{ article.zblnumber }}.{% endif %}
        {% if article.eprint %}{{ article.eprint }}.{% endif %}
        {% if article.note %}{{ article.note }}.{% endif %}
        {% if article.annote %}{{ article.annote }}.{% endif %}
    </li>
    <hr class="view-reference-hr">
{% endfor %}
