{% for aninproceedings in inproceedings %}
    <li class="view-reference">
        {{ aninproceedings.author }}. "{{ aninproceedings.title }}," in <em>{{ aninproceedings.booktitle }}</em>, {{ aninproceedings.year }}.
        {% if aninproceedings.editor %}Edited by {{ aninproceedings.editor }}.{% endif %}
        {% if aninproceedings.volume %} Vol. {{ aninproceedings.volume }}.{% endif %}
        {% if aninproceedings.number %}No. {{ aninproceedings.number }}.{% endif %}
        {% if aninproceedings.pages %}pp. {{ aninproceedings.pages }}{% endif %}
        {% if aninproceedings.address %}{{ aninproceedings.address }}.{% endif %}
        {% if aninproceedings.series %}Srs. {{ aninproceedings.series }}.{% endif %}
        {% if aninproceedings.organization %}{{ aninproceedings.organization }}.{% endif %}
        {% if aninproceedings.publisher %}{{ aninproceedings.publisher }}.{% endif %}
        {% if aninproceedings.note %}{{ aninproceedings.note }}.{% endif %}
        {% if aninproceedings.annote %}{{ aninproceedings.annote }}.{% endif %}
    </li>
    <hr class="view-reference-hr">
{% endfor %}