body {
    font-family: Arial, sans-serif;
}

.navigation-button {
    background-color: #75ACE0;
    border-radius: 20px;
}

.navigation-button:hover {
    background-color: #5b9ac8;
}

.index-list {
  font-size: 10px;
  line-height: 1;
}

.index-list-description {
  font-size: 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  width: 25%;
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

td {
  word-wrap: break-word;
  max-width: 200px;
}

.reference-details {
  background-color: #f9f9f9;
}

.reference-details-labels td {
  font-weight: bold;
}

.reference-details-values td {
  background-color: white;
}

.reference-row, .reference-details, .button-row {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.reference-row {
  border-top: 2px solid black;
}

.reference-details:last-of-type {
  border-bottom: 2px solid black;
}

.empty-row {
  border-top: 2px solid black;
  height: 10px;
  pointer-events: none;
}

.type-label {
  text-align: center;
}

.view-reference {
    max-width: 80vw;
    overflow-wrap: break-word;
}

.view-reference-hr {
    width: 80%;
    margin-left: 0;
    border: none;
    border-top: 1px solid black;
}

.view-text {
    color: #482307
}

.submit-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.submit-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.submit-button:hover {
  background-color: #2c974b;
}

.submit-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.submit-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.submit-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.copy-button {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 150px;
  margin-right: 200px;
}

.copy-button:active {
  border-bottom-color: #a2a6ac;
}

.copy-button:active:hover {
  border-bottom-color: #a2a6ac;
}

.bcopy-button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.copy-button:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

.delete-button {
  background-image: linear-gradient(#ffdddd, #ffcccc);
  color: #d33a2c;
  border-color: #fabebe;
  min-width: 150px;
}

.delete-button:hover {
  background-image: linear-gradient(#ffcccc, #ffbbbb);
  border-color: #e77600;
}

.delete-button:active {
  background-image: linear-gradient(#ffbbbb, #ffaaaa);
  border-color: #a2a6ac;
}

.delete-button:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
}