body {
	font-family: Arial, sans-serif;
}

/* Navbar */

.navigation-button {
	background-color: #75ace0;
	border-radius: 20px;
}

.navigation-button:hover {
	background-color: #5b9ac8;
}

.alert {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	width: 50%;
	padding: 15px;
	font-size: 1.2em;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
  
.alert.success {
	background-color: #1f9141;
	color: white;
}
.alert.error {
	background-color: #c92a2a;
	color: white;
}

/* add.html css */

.submit-button {
	appearance: none;
	background-color: #2ea44f;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
}

.submit-button:focus:not(:focus-visible):not(.focus-visible) {
	box-shadow: none;
	outline: none;
}

.submit-button:hover {
	background-color: #2c974b;
}

.submit-button:focus {
	box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
	outline: none;
}

.submit-button:disabled {
	background-color: #94d3a2;
	border-color: rgba(27, 31, 35, 0.1);
	color: rgba(255, 255, 255, 0.8);
	cursor: default;
}

.submit-button:active {
	background-color: #298e46;
	box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.submit-page-text {
    width: 700px;
}

/* list.html css */

.button {
	background-image: linear-gradient(#f7f8fa, #e7e9ec);
	border-color: #adb1b8 #a2a6ac #8d9096;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
	box-sizing: border-box;
	color: #0f1111;
	cursor: pointer;
	display: inline-block;
	font-family: "Amazon Ember", Arial, sans-serif;
	font-size: 14px;
	height: 29px;
	font-size: 13px;
	outline: 0;
	overflow: hidden;
	padding: 0 11px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	min-width: 150px;
	margin-right: 200px;
}

.button:active {
	background-image: linear-gradient(#e6e7e9, #d0d2d5);
	border-color: #8d9096;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px inset;
	transform: translateY(1px);
}

.button:hover {
	background-image: linear-gradient(#e6e7e9, #d0d2d5);
	border-color: #8d9096;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px inset;
	transform: translateY(1px);
}

.delete-button {
	background-image: linear-gradient(#ffdddd, #ffcccc);
	color: #d33a2c;
	border-color: #fabebe;
}

.delete-button:hover {
	background-image: linear-gradient(#ffcccc, #ffbbbb);
	border-color: #e77600;
}

.delete-button:active {
	background-image: linear-gradient(#ffbbbb, #ffaaaa);
	border-color: #a2a6ac;
}

.delete-button:focus {
	border-color: #e77600;
	box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
}

.view-table {
	width: 50%;
	border: none;
	border-top: 1px solid #eeeeee;
	font-family: arial, sans-serif;
	border-collapse: collapse;
}

.view-table > tbody > tr > td,
.view-table > tbody > tr > th {
	border: 1px solid #eeeeee;
	border-top: none;
	text-align: left;
	padding: 8px;
	color: #363d41;
	font-size: 14px;
}

.view-table > tbody > tr {
	background-color: #fff;
	border: none;
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: flex-start;
}

.view-table > tbody > tr:first-child:hover {
	cursor: default;
	background-color: #fff;
}

.view-table > tbody > tr:hover {
	background-color: #eef4fd;
}

.expanded-row-content {
	border-top: none;
	display: grid;
	grid-column: 1/-1;
	justify-content: flex-start;
	color: #aeb1b3;
	background-color: #f5f3f3;
	font-size: 13px;
}

.expanded-row-content table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.expanded-row-content td {
	border: 1px solid #c5c5c5;
	border-top: none;
	padding: 8px;
}

.expanded-row-content tr:first-child td {
	border-top: 1px solid #c5c5c5;
}

.hide {
	display: none;
}
