name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    ci:
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_USER: postgres
                ports:
                    - 5432:5432
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python 3.10
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
            - name: Install Poetry
              run: pip install poetry
            - name: Install dependencies
              run: poetry install
            - name: Start postgresql
              run: sudo systemctl start postgresql
            - name: Build database
              run: poetry run invoke init-db
            - name: Setup chromedriver
              uses: nanasess/setup-chromedriver@master
            - run: |
                  export DISPLAY=:99
                  chromedriver --url-base=/wd/hub &
                  sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
            - name: Run pylint
              run: poetry run pylint viiteri
            - name: Run unit tests
              run: poetry run coverage run --branch -m pytest
            - name: Run robot tests
              run: bash run_robot_tests.sh
            - name: Coverage report
              run: poetry run coverage xml
            - name: Coverage report to Codecov
              run: bash <(curl -s https://codecov.io/bash)
